# Django
DJANGO_SECRET_KEY=cambia-esta-clave
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos
DB_NAME=tienda
DB_USER=tienda
DB_PASSWORD=tienda123
DB_ROOT_PASSWORD=root123
DB_HOST_PORT=3307

# Usuario del host (evita archivos creados como root)
LOCAL_UID=1000
LOCAL_GID=1000
